{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}

      <dt-article>
        <div class="posts-list l-page">
          <a class="post-preview" href="{{url}}">
            <div class="metadata"><div class="publishedDate">
<time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            </div>


          </div>

          <div>
    {{#if feature_image}}<img src="{{feature_image}}" class="thumbnail" />{{/if}}
</div>



          <div class="description">
            <h2>{{title}}</h2>
            <p>{{excerpt words="30"}}
          </div>
        </a>

      </div>

  </dt-article>

{{/foreach}}

{{! Previous/next page links - displayed on every page }}
<div class="row text-center">
    <div class="thecenter">
        {{pagination}}
    </div>
</div>
